{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Change Your Password" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Change Your Password" %}</h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            {% if message %}
                {% if errors %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endif %}
            <form id="password_form" method="post" action="{% url 'register:changepassword' %}" class="form form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in password_form %}
                    <div class="form-group">
                        {{ field.errors }}
                        <label class="control-label col-md-2">{{  field.label }}</label>
                        <div class="col-md-10">
                            {{  field }}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary">{% trans "Update" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}