{% extends 'base.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Reset Your Password</h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            {% if message %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}
             {% if errors %}
                <div class="alert alert-danger">{{ errors }}</div>
            {% endif %}
            <form id="password_form" method="post" action="{% url 'register:resetpassword' user.id token %}" class="form form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in password_form %}
                    <div class="form-group">
                        <label class="control-label col-md-2">{{  field.label }}</label>
                        <div class="col-md-10">
                            {{  field }}
                             {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}